<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <div class="icon icon-primary">
        <i class="material-icons">chat</i>
      </div>
    </span>
  </div>
  <input type="text" class="form-control" placeholder="Your new task here" (keyup.enter)="addNewTask()" [(ngModel)]="newTask">
  <div class="input-group-prepend">
    <button class="btn btn-primary btn-md btn-fab btn-fab-mini btn-round" (click)="addNewTask()">
      <i class="material-icons">send</i>
    </button>
  </div>
</div>
<br>
<div class="card card-nav-tabs text-center">
  <div class="card-header card-header-primary">
    Tasks
  </div>
  <div class="card-body">
    <table class="table table table-hover">
      <tbody>
        <tr *ngFor="let task of tasks">
          <td class="text-left">{{ task.title }}</td>
          <td class="text-right">
            <button (click)="changeTaskStatus(task.id)" class="btn btn-primary btn-md btn-fab btn-fab-mini btn-round">
              <i class="material-icons" *ngIf="task.done">check_box</i>
              <i class="material-icons" *ngIf="!task.done">check_box_outline_blank</i>
            </button>
            <button (click)="deleteTask(task.id)" class="btn btn-primary btn-md btn-fab btn-fab-mini btn-round">
              <i class="material-icons">clear</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="card-footer text-muted">
    2 days left // In the future, this div will show how many days left to complete tasks
  </div> -->
</div>